*{margin: 0px; padding: 0px;}
/**顶部布局开始***/
.tl1{
	width: 100%;
	height: 80px;
	border: 0px solid red;
}
.tl1_img{
	margin-top: 15px;
	margin-left: 247px;
}
.tl1_sh{
	width: 1130px;
	height: 70px;
	border: 0px solid  red;
	float: right;
	margin-top: 10px;
	background-image: url(../img/train.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 1130px 40px;
	line-height: 70px;
}
.tl1_sh_inp{
	width: 420px;
	height: 25px;
	margin-left: 100px;
}
.tl1_sh_img{
	position: relative;
    top: 10px;
    left: -6px;
}
.tl1_sh_list{
	width: 390px;
	height: 70px;
	border: 0px solid  green;
	float: right;
	margin-right: 115px;
}
.tl1_sh_list li{
	list-style: none;/*去除列表符号*/
	float: left;
	margin-left: 22px;
}
.tl1_sh_list a{
	text-decoration: none;
	font-size: 12px;
}
.tl1_sh_a{
	color: #3b99fc;
}
.tl1_sh_a2{
	color: #333333;
}
.tl1_sh_list span{
	font-size: 12px;
	color: #ACD1F9;
}
/**顶部布局结束***/
/**顶部导航的开始**/
.tl2{
	width: 100%;
	height: 40px;
	background-color: #3B99FC;
}

.tl2_cen{
	width: 1200px;
	height: 40px;
	border:  0px solid red;
	margin:0px auto;/*div自动居中*/
	line-height: 40px;/*垂直居中*/
	/*text-align: center;*//*水平居中*/
}
.tl2_cen li{
	list-style: none;
	float: left;
	height: 40px;
	width: 148px;
	border: 0px solid  green;
	text-align: center;
}
.tl2_cen a{
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}
.tl2_cen_first{
	background-color: #2676e3;
}
.tl2_cen li:hover{
	background-color: #2676e3;
}
/**顶部导航的结束**/
/*轮播图开始*/
.tl3{
	width: 100%;
	height: 450px;
	border: 0px solid red;
	background-image: url(../img/banner09.jpg);
	animation: 30s lbt  infinite;
}
@keyframes lbt{
	0%{background-image: url(../img/banner09.jpg);}
	25%{background-image: url(../img/banner11.jpg);}
	50%{background-image: url(../img/banner12.jpg);}
	75%{background-image: url(../img/banner13.jpg);}
	100%{background-image: url(../img/banner09.jpg);}
}

/*轮播图的结束*/
/*铁路预约开始*/
.tl4{
	width: 1200px;
	height: 140px;
	border: 0px solid red;
	margin: 0px  auto; /*水平方向自动居中*/
	background-image: url(../img/bgline.png);
}
.tl4 li{
	list-style: none;
	width:169px ;
	height: 140px;
	border: 0px solid red;
	float: left;
	text-align: center;
}
.tl4 img{
	margin-top: 37px;
}
.tl4 a{
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}

/*铁路预约结束*/

/**会员服务开始***/
.tl5{
	width: 1200px;
	height: 340px;
	border: 0px solid red;
	margin: 0px auto;
}
.tl5 div{
	width: 590px;
	height: 160px;
	border: 0px solid green;
	float: left;
}
.tl5_fw{
	margin-left: 15px;
}
.tl5_fw2{
	margin-top: 15px;
}

/**会员服务结束***/

/**更多服务开始***/
.tl6{
	width: 1200px;
	height: 40px;
    /*border:  1px solid red;*/
    margin: 0px auto;
    line-height: 40px;
    border-bottom: 2px solid #DEDEDE;
    margin-top: 30px;
}
.tl6 span{
	color: #3B99FC;
	font-size: 16px;
}
.tl6 a{
	float: right;
	font-size: 14px;
	color: #999999;
	text-decoration: none;
}

/**更多服务结束***/

/**铁路旅游信息开始***/
.tl7{
	width: 1200px;
	height: 500px;
	border: 0px solid #DEDEDE;
	margin: 0px auto;
	margin-top: 10px;
}
.tl7 div{
	width: 290px;
	height: 245px;
	border: 1px solid #DEDEDE;
	float: left;
}
.tl7_div1{
	margin-left: 10px;
}
.tl7_div2{
	margin-top: 7px;
}
.tl7_img{
	width: 290px;
	height: 157px;
	border: 0px solid red;
}
.tl7_p1{
	font-size: 14px;
	color: #333333;
	margin-top: 5px;
}
.tl7_p2{
	font-size: 20px;
	color: #ff8201;
	margin-top: 5px;
	margin-left: 11px;
}
/**铁路旅游信息结束***/

/**铁路最新发布开始***/
.tl8{
	height: 40px;
	width: 1200px;
	border: 0px solid red;
	margin: 0px auto;
	margin-top: 40px;
}
.tl8 div{
	width: 390px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
}
.tl8_div2{
	background-color: #3B99FC;
	color: #FFFFFF;
}
.tl8_div{
	margin-left: 15px;
	background-color: #EFEFF4;
	color: #333333;
}

/**铁路最新发布结束***/
.tl9{
	width: 1200px;
	height: 255px;
	border: 2px solid #DEDEDE;
	margin: 0px auto;
}
.tl9 div{
	width: 525px;
	height: 195px;
	border: 0px solid  red;
	float: left;
	margin-left: 60px;
}
.tl9_msg1 li{
	margin-top: 20px;
}
.tl9_msg1 span{
	float: right;
	font-size: 12px;
	color: #999999;
}
.tl9_msg1 a{
	font-size: 14px;
	color: #333333;
}

/********底部开始*********/
.tl10{
	width: 100%;
	height: 195px;
	background-color: #f8f8f8;
	margin-top: 55px;
}

.tl11{
	width: 100%;
	height: 77px;
	background-color: #666666;
}


/********底部结束*********/
































